<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide>.mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
    }

    .demo-card-wide>.mdl-card__menu {
        color: #fff;
    }
</style>

{{ define "content"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <p> this is the home page
        </p>
    </div>

    <!-- will dynamically create these cards using -->
    <div class="mdl-cell mdl-cell--12-col">
        {{ range .TopNews }}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ .Title }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ .Content }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}