{{define "content"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form action="/login/" method="POST">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Username...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Password...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input value="Submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
            </div>
        </form>
    </div>
</div>
{{end}}